<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">-->
    {{!-- <link rel="stylesheet" href="/css/site.css"> --}}
</head>
<body class="p-3">
{{{body}}}
<footer class="footer">
    <p class="has-text-centered">Site by: </p>
</footer>
</body>
</html>
