<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="/public/site.css">
</head>

<header>
    <div>
        <ul class="topnav">
            <li><a href="/">HOME</a></li>
            <li><a href="/parks">PARKS</a></li>
            <li><a href="/activities">ACTIVITES</a></li>
            <li><a href="/appointments">APPOINTMENTS</a></li>
            <li class="right"><a href="">ABOUT</a></li>
            <li class="right"><a href="/users">USER</a></li>
        </ul>
    </div>
</header>

<body>
  <main >
    {{{body}}}
  </main>
</body>

<footer class="footer"></footer>
</html>