<header>
    <div>
        <h1>Home</h1>
    </div>
</header>

<!--- Body goes here --->
<body>
    <main>
        <article>
            <h1 class="main-title">Search Park</h1>
            <form method="post" action="/parks/search">
                <label>
                    <input type="text" name="parkName" placeholder="Please input park name"/>
                </label>
                <button type="submit" class="button"><span>Search</span></button>
            </form>
        </article>
        
    </main> 
</body>

<ul id="ParkRecommentdationList"></ul>
