<!--- Body goes here --->
<body>
    <main>
        <article>
          <script>
            function change(){
              var val = document.getElementById("select").value;
              if(val=="park") 
              {
                document.getElementById("homeSearchTxt").placeholder="Please input park name"
                document.getElementById("homeSearchTxt").name="parkname"
              }
              else {
                document.getElementById("homeSearchTxt").placeholder="Please input activity name"
                document.getElementById("homeSearchTxt").name="activityname"
              }
            }
            
          </script>
            <h1 class="main-title">Search Park</h1>
            <form action="##" method="POST" id="searchForm">
              <select class="full-width-input" id="select" name="posterId" onchange="change()">
              <option value="park">Park</option>
              <option value="activity">Activity</option>
                <input type="text" class="search" name="parkname" id="homeSearchTxt" placeholder="Please input park name"/>
                <button type="submit" class="button" id="homeSearch"><span>Search</span></button>
              </select>
            </form>
        </article>
        <div class="homeLink" id="homelink">
          <div class="homeRecommendationLink" id="orderByRating">
            ORDER BY RATING
          </div>
          <div class="homePopularLink" id="orderByLikes">
            ORDER BY LIKES
          </div>
        </div>
        <br/>

        <div class="homeRecommendationDiv" id="homeRecommendationDiv">
          <div class="homeRecommendationImg"> 
            <ul id="homeRecommendationImgList" class="homeRecommendationImgList"></ul>
          </div>
          <div class="homeRecommendationTxt">
            <ul id="homeRecommendationTxtList" class="homeRecommendationTxtList"></ul>
          </div>
        </div>

        <div class="homePopularDiv" id="homePopularDiv">
          <div class="homePopularImg"> 
            <ul id="homePopularImgList" class="homePopularImgList"></ul>
          </div>
          <div class="homePopularTxt">
            <ul id="homePopularTxtList" class="homePopularTxtList"></ul>
          </div>
        </div>

        <div class="homeSearchDiv" id="homeSearchDiv">
          <div class="homeSearchImg"> 
            <ul id="homeSearchImgList" class="homeSearchImgList"></ul>
          </div>
          <div class="homeSearchTxt">
            <ul id="homeSearchTxtList" class="homeSearchTxtList"></ul>
          </div>
        </div>

    </main> 
</body>