<header>
    <div>
        <h1>Home</h1>
    </div>
</header>

<!--- Body goes here --->
<body>
    <main>
        <article>
            <h1 class="main-title">Search Park</h1>
            <form method="post" action="/parks">
                <label>
                    <input type="text" name="showSearchTerm" placeholder="Please input park name"/>
                </label>
                <button type="submit">Search</button>
            </form>
        </article>
    </main> 
</body>