<header>
    <div>
        <ul class="topnav">
            <li><a href="/">HOME</a></li>
            <li><a href="">ACTIVITIES</a></li>
            <li class="right"><a href="">ABOUT</a></li>
            <li class="right"><a href="/users">USER</a></li>
        </ul>
    </div>
</header>

<!--- Body goes here --->
<body>
    <main>
        <article>
            <h1 class="main-title">Search Park</h1>
            <form method="post" action="/parks/search">
                <input type="text" class="search" name="parkName" placeholder="Please input park name"/>
                <button type="submit" class="button"><span>Search</span></button>
            </form>
        </article>
    <a href="/"><h1>Recommentdation</h1></a>
    <br/>
    <ul id="ParkRecommentdationList" class="list"></ul>
    </main> 
</body>