<div>
    <h1>Introduction</h1>
    <p>Our website is a modern Hoboken specific meetup application for park activities. Users will be able to select from the various different parks in Hoboken and see what activities there
are. With each activity, users will be able to set up a meet up request. </p>
    <br />
    <p>Another user will be able to accept it. This allows them to find partners for certain activities. There will also be a section for users to converse in real time. Reviews for each park activity will be able to reflect on the conditions for users to see.</p>
    <br />
    <p>Each park section will display the various different activities it has to offer. Could be anything from tennis, playgrounds, soccer fields, etc. Some of these activities require a partner and
this application will allow them to find one. </p>
    <br />
    <p>Parents will be able to schedule meetups for their kids to meet new people in their area to play on playgrounds. Groups will be able to find players for 
larger activities such as soccer or baseball.</p>
    <br />
    <p>The idea behind this application is to be able to meet new people. Not everyone can always gather a group of people to do certain outdoor activities and truly take advantage of the
parks here in Hoboken.</p>
    <br />
    <p> There also is a constant influx of new people moving in the area so this may be useful to them as well.</p>
    <br />
    <br />
    <h1>Team Members</h1>
    <ul>
        <li>David Yang</li>
        <li>Yue Qin</li>
        <li>Yutong Wei</li>
        <li>Yuheng Xiao</li>
        <li>Wenjing Zhou</li>
    </ul>
</div>