    <h1>activities</h1>

    <div>
        <form action="/parks/search" method="POST" id="actSearchForm">
            <input type="text" class="search" name="activityname" id="actSearchTxt"
                placeholder="Search activity, please input activity name" />
            <button type="submit" class="button" id="actSearch"><span>Search</span></button>
        </form>
    </div>

    <div class="actSearchDiv" id="actSearchDiv">
        <div class="actSearchTxt">
            <ul id="actSearchTxtList" class="actSearchTxtList"></ul>
        </div>
    </div>
    <div class="ActListDiv">
        <div class="ActList">
            {{#each actList}}
                <div class="ActListContent">
                    <h2>{{name}}</h2>
                    <div class="ActListLeft">
                        <p>Description: {{this.description}}</p>
                    </div>
                    <div class="ActListRight">
                        {{#each this.idandpark}}
                        <p>Offered by: <a href="/activities/{{this._id}}">{{this.parkname}}</a></p>
                        {{/each}}
                    </div>
                </div>
            {{/each}}

        </div>
        
    </div>
    {{#if isAdmin}}
    <div class="newActDiv">
        <form action="/parks/newActivity" method="GET" id="login-form">
            <div class="login">
                <button type="submit" class="button">Create a new activity</button>
            </div>
        </form>
    </div>
    {{/if}}

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous"></script>
<script src="/public/ajaxActivity.js"></script>

