<header>
    <h1>
        CREATE A NEW ACTIVITY
    </h1>
</header>

<div >
    <form action="/parks/createnewActivity" method="POST" id="login-form">
        <div class="login">
            <label for="park">Park:</label>
            <select id="park" name="park">
                {{#each ParkList}}
                <option value={{this.name}}>{{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="login">
            <label for="activity">activity:</label>
            <input type="text" name="activity" class="textInput"/>
        </div>
        <div class="login">
            <label for="numberOfCourts">numberOfCourts:</label>
            <input type="text" name="numberOfCourts" class="textInput"/>
        </div>
        <div class="login">
            <label for="maxPeople">maxPeople:</label>
            <input type="text" name="maxPeople" class="textInput"/>
        </div>
        <div class="login">
            <label for="limit">limit:</label>
            <input type="text" name="limit" class="textInput"/>
        </div>
        <div>
            <button type="submit" class="button">Create</button>
        </div>
    </form>
    {{#if error}}
	    <p >{{error}}</p>
	  {{/if}}
</div>