<header>
    <h1>
        SEARCH ALL APPIONTMENTS OF AN ACTIVITY
    </h1>
</header>

<div >
    <form action="/appointments/searchAppointment" method="POST" id="login-form">
        <div class="login">
            <label for="year">activity:</label>
            <select value="{{operation}}" name="activity">
                <option value="Tennis">Tennis</option>
                <option value="Basketball">Basketball</option>
                <option value="Jog">Jog</option>
                <option value="Soccer">Soccer</option>
                <option value="Baseball">Baseball</option>
                <option value="Skate">Skate</option>
                <option value="Yoga">Yoga</option>
                <option value="Rugby">Rugby</option>
            </select>
        </div>

        <div>
            <button type="submit" class="button">Search</button>
        </div>
    </form>
    {{#if error}}
	    <p >{{error}}</p>
	  {{/if}}
</div>