<header>
    <div>
        <ul class="topnav">
            <li><a href="/">HOME</a></li>
            <li><a href="/appointments">APPOINTMENTS</a></li>
            <li class="right"><a href="">ABOUT</a></li>
            <li class="right"><a href="/users">USER</a></li>
        </ul>
    </div>
    
    <h1>
        CREATE A NEW APPOINTMENT
    </h1>
</header>

<div >
    <form action="/appointments/creatNewAppointment" method="POST" id="login-form">
        
        <div class="login">
            <label for="year">year:</label>
            <input type="text" name="year" class="textInput"/>
        </div>
        <div class="login">
            <label for="month">month:</label>
            <input type="text" name="month" class="textInput"/>
        </div>
        <div class="login">
            <label for="day">day:</label>
            <input type="text" name="day" class="textInput"/>
        </div>
        <div class="login">
            <label for="hour">hour:</label>
            <input type="text" name="hour" class="textInput"/>
        </div>
        <div class="login">
            <label for="minute">minute:</label>
            <input type="text" name="minute" class="textInput"/>
        </div>

        <div>
            <button type="submit" class="button">Login</button>
        </div>
    </form>
    {{#if error}}
	    <p >{{error}}</p>
	  {{/if}}
</div>