<header>
    <div>
        <ul class="topnav">
            <li><a href="/">HOME</a></li>
            <li><a href="/appointments">APPOINTMENTS</a></li>
            <li class="right"><a href="">ABOUT</a></li>
            <li class="right"><a href="/users">USER</a></li>
        </ul>
    </div>
    <h1>
        ERROR
    </h1>
</header>

<p class="error-not-found">{{error}}</p>