<header>
    <h1>
        APPOINTMENT MENU
    </h1>
</header>

<div >
    <form action="/appointments/myAppointment" method="GET" id="appointment-menu">
        <div class="login">
            <button type="submit" class="button">My Appointments</button>
        </div>
    </form>
    
    <form action="/appointments/newAppointment" method="get" id="create-appointment">
        <div class="login">
            <button type="submit" class="button">Create A New Appointment</button>
        </div>
    </form>
    

    {{#if error}}
	    <p >{{error}}</p>
	{{/if}}
</div>