<div class="loginDiv">
    <h1>
      Log in
    </h1>
    <form action="/users/login" method="POST" id="login-form">
        <div class="login">
            <label for="email">Email Address:</label>
            <input type="text" name="email" id="email" class="textInput" onchange="checkEmail()"/>
        </div>
        <div class="login">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="textInput" onchange="checkPassword()"/>
        </div>
        <p id="inputError"></p>
        <div>
            <button type="submit" class="button">Login</button>
        </div>
    </form>
    {{#if error}}
	    <p >{{error}}</p>
	  {{/if}}
    <a href="/users/signup" class="txt"> Need to register? Click here to sign-up </a>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous"></script>
<script src="/public/checkFunction.js"> </script>