
<div class="signupDiv">
    <h1>
      Sign Up
    </h1>
    <form action="/users/signup" method="POST" id="signup-form">
        <div class="signup">
            <label for="firstname">First Name:</label>
            <input type="text" name="firstname" id="firstname" class="textInput" onchange="checkFirstname()"/>
        </div>
        <div class="signup">
            <label for="lastname">Last Name:</label>
            <input type="text" name="lastname" id="lastname" class="textInput" onchange="checkLastname()"/>
        </div>
        <div class="signup">
            <label for="email">Email Address:</label>
            <input type="text" name="email" id="email" class="textInput" onchange="checkEmail()"/>
        </div>
        <div class="signup">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="textInput" onchange="checkPassword()"/>
        </div>
        <p id="inputError"></p>
        <div>
            <button type="submit" class="button">Sign Up</button>
        </div>
    </form>

    {{#if error}}
	    <p >{{error}}</p>
	  {{/if}}
    <a href="/users/login" class="txt"> Already have an account? Click here to log-in </a>
</div>

<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
      crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous"></script>
<script src="/public/checkFunction.js"> </script>