<header>
    <div>
        <ul class="topnav">
            <li><a href="/">HOME</a></li>
            <li><a href="">ACTIVITIES</a></li>
            <li class="right"><a href="">ABOUT</a></li>
            <li class="right"><a href="/users">USER</a></li>
        </ul>
    </div>
</header>
